<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projetos | RoboLab - Restinga</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RoboLab - Restinga</title>
    <link href="styles/style.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <div id="imagem-nav">
        <li>Imagem(Logo)</li>
      </div>
      <div id="menu-nav">
        <li><a href="/">Início</li></a>
        <li><a href="/#origem">Origem</li></a>
        <li><a href="/#metodologia">Metodologia</li></a>
        <li><a href="/#laboratorio">Laboratório</li></a>
        <li><a href="/projetos">Projetos</li></a>
      </div>
    </nav>
    <div id="bg-projetos">
    <section id="projetos">
      <div id="projeto">
        <div id="container-projetos">
        <h2><span>Escavadeira</span></h2>
        <img src="/images/escavadeira.png" alt="">
        <h3><a href="https://www.google.com/" target="_blank">Link para o manual</a></h3>
      </div>
      <div id="paragrafo-projetos">
        <h3>Resumo projeto</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Dignissim diam quis enim lobortis scelerisque fermentum dui faucibus. Tortor pretium viverra suspendisse potenti.
          Duis convallis convallis tellus id interdum velit laoreet. Odio morbi quis commodo odio aenean sed adipiscing diam donec.
          Sed viverra ipsum nunc aliquet bibendum. Sed sed risus pretium quam vulputate dignissim suspendisse in. 
          Tristique sollicitudin nibh sit amet. 
        </p>
      </div>
      </div>
      <img src="/images/arrowR.png" alt="" id="arrow-projetos">
      <div id="projeto">
        <div id="container-projetos">
        <h2><span>Escavadeira</span></h2>
        <img src="/images/escavadeira.png" alt="">
        <h3><a href="https://www.google.com/" target="_blank">Link para o manual</a></h3>
      </div>
      <div id="paragrafo-projetos">
        <h3>Resumo projeto</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Dignissim diam quis enim lobortis scelerisque fermentum dui faucibus. Tortor pretium viverra suspendisse potenti.
          Duis convallis convallis tellus id interdum velit laoreet. Odio morbi quis commodo odio aenean sed adipiscing diam donec.
          Sed viverra ipsum nunc aliquet bibendum. Sed sed risus pretium quam vulputate dignissim suspendisse in. 
          Tristique sollicitudin nibh sit amet. 
        </p>
      </div>
    </div>
  </section>
  <footer>
    <div id="container-footer">
      <div id="redes-footer">
    <a href="#linkYoutube"><img src="images/fundo.png" alt=""></a>
    <a href="#linkInsta"><img src="images/fundo.png" alt=""></a>
    </div>
    <h4>copyright © 2022 | RoboLab by Restinga</h4>
  </div>
    </div>
  </footer>
  </div>
</body>
</html>