<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RoboLab - Restinga</title>
    <link href="styles/style.css" rel="stylesheet" />

    <script>
        const nomeInstituicao = document.getElementById("nome-inst");

        if(document.getElementById("r-sim").checked){
          nomeInstituicao.style = "enabled"
        }
    </script>
  </head>
  <body>
    <nav>
      <div id="imagem-nav">
        <li>Imagem(Logo)</li>
      </div>
      <div id="menu-nav">
        <li><a href="#home">Início</li></a>
        <li><a href="#origem">Origem</li></a>
        <li><a href="#laboratorio">Laboratório</li></a>
        <li><a href="#home">Notícias</li></a>
      </div>
    </nav>
    <span id="home">a</span>
    <div class="bg1">
    <section class="home">
      <h1>ROBOLAB</h1>
      <h2>Um projeto por IFRS - Campus Restinga</h2>
      <h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam.
      </h5>
      <button>Saiba Mais</button>
    </div>
        <h3 id="apresentacao-trabalho">Um pouco do nosso trabalho</h3>
      <div id="container-imagens">
      <img src="/images/arrowL.png" alt="" id="arrow">
      <div id="imagem-projetos">
      <img src="/images/1.jpeg" alt="" >
      <img src="/images/2.jpeg" alt="" >
      <img src="/images/3.jpeg" alt="" >
      <img src="/images/1.jpeg" alt="" >
    </div>
    <img src="/images/arrowR.png" alt="" id="arrow">
  </div>

    </section>
    
    <section id="origem">
      <div class="bg2">
      <h1>Origem</h1>
      <div id="infos-fund">
        <div id="centralizer-fund">
      <div id="container-fund">
        <h2>Fundação</h2>
        <div id="aligned-container">
      <h3>
        Fundado em 2019
        O RoboLab busca <span>tornar</span> a robótica <span>acessível</span> a todos, realizando oficinas e 
        <span>ensinando</span> na <span>prática</span> as possibilidades da <span>robótica.</span></h3>
        <img src="/images/ai.png" alt=""></div>
      </div>
      <div id="container-fund">
        <h2>Industria 4.0</h2>
        <div id="aligned-container">
      <h3>
        Com a <span>Industria 4.0</span> é notório o papel da robótica. Portanto, é necessário uma <span>capacitação</span> das  <span>novas gerações.</span></h3>
        <img src="/images/mechArm.png" alt=""></div>
      </div>
      </div>
    </div>
  </div>
    </section>
  </body>
</html>